@charset "utf-8";

*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #fff9ec;
    color: #504326;
}
.menu{
    width: 300px;
    height: 20px;
    margin: 0 auto;
    background-color: white;
    border: 1px solid #ded3bb;
    padding: 10px;
    cursor: pointer;
}
.menu .icon{
/*    transition: all 0.5s ease-in-out;*/
    
    display: inline-block;
}
/*
.menu:hover .icon{
    transform: rotate(45deg);
}
*/
.menu_wrap :target .icon {
    animation: in 1s;
}
.menu_wrap :target .sub {
    display: block;
}
@keyframes in{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(45deg);
    }
}
/*
.menu:hover .sub{
    display: block;
}
*/
.sub{
    list-style: none;
    width: 300px;
    margin-top: 10px;
    margin-left: -10px;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 12px 25px rgba(0,0,0,0.2);
    display: none;
}
.sub li{
    padding: 10px;
    border-bottom: 2px dotted #eaeaea;
}
.sub li:last-child{
    border-bottom: none !important;
}
.sub li:hover{
    border-bottom: 2px dotted #000;
}
.sub a{
    text-decoration: none;
    color: #6e6248;
}