@charset "utf-8";

* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
#wrap {
  width: 1280px;
  margin: 0 auto;
}
#port {
  display: flex;
  justify-content: space-between;
}
li {
  width: 200px;
  height: 200px;
  border: 1px solid #000;
  border-radius: 50%;
  text-align: center;
  line-height: 200px;
}
