h1 {
  position: relative;
  text-align: center;
  margin-top: 150px;
}
section {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-image: url(../images/photo1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  /* clip-path: circle(100px at 50% 50%); */
  /* clip-path: ellipse(100px 150px at 50% 50%); */
  /* clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%); */
  clip-path: circle(0 at 50% 50%);
}
.container {
  position: relative;
  top: 200vh;
  background: #ccc;
}
